body {
    font-family: sans-serif;
    font-size: 20px;
    border: 0ch;
    color: brown;
    opacity: 1;
}
.main {
  text-align: center;
  
 
}
img {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;

}

.details {
    ;
}
.details h3 {
    color: black;
}
h2 { 
    color: black;
}